*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    min-height:100vh;
    color:white;
    overflow-x:hidden;

    background:
    radial-gradient(circle at top,
    #1b2735,
    #090a0f 70%);
}

.background{
    position:fixed;
    inset:0;
    pointer-events:none;
}

.background::before{
    content:"";
    position:absolute;
    inset:0;

    background-image:
    radial-gradient(white 1px, transparent 1px);

    background-size:80px 80px;

    opacity:0.15;
}

header{
    padding:30px 50px;
}

.logo{
    font-size:1.6rem;
    font-weight:700;
    letter-spacing:1px;
}

main{
    min-height:75vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:20px;
}

h1{
    font-size:4rem;
    margin-bottom:15px;
    text-align:center;
}

.subtitle{
    color:#cfcfcf;
    margin-bottom:40px;
    text-align:center;
}

.search-box{
    width:100%;
    max-width:800px;

    display:flex;
    align-items:center;
    gap:15px;

    padding:14px 20px;

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.12);

    border-radius:60px;

    backdrop-filter:blur(10px);

    transition:.3s;
}

.search-box:hover{
    transform:translateY(-2px);
}

.search-icon{
    font-size:1.2rem;
}

.search-box input{
    flex:1;

    border:none;
    outline:none;

    background:none;

    color:white;
    font-size:1rem;
}

.search-box input::placeholder{
    color:#bdbdbd;
}

.search-box button{
    border:none;

    padding:12px 24px;

    border-radius:30px;

    cursor:pointer;

    background:white;
    color:black;

    font-weight:600;

    transition:.3s;
}

.search-box button:hover{
    transform:scale(1.05);
}

.categories{
    margin-top:35px;

    display:flex;
    flex-wrap:wrap;
    justify-content:center;

    gap:12px;
}

.chip{
    text-decoration:none;

    color:white;

    padding:10px 18px;

    border-radius:999px;

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.12);

    transition:.3s;
}

.chip:hover{
    background:rgba(255,255,255,.15);
    transform:translateY(-2px);
}

footer{
    text-align:center;
    padding:25px;
    color:#bdbdbd;
}

@media(max-width:768px){

    h1{
        font-size:2.5rem;
    }

    .search-box{
        flex-direction:column;
        border-radius:25px;
    }

    .search-box button{
        width:100%;
    }

    header{
        padding:25px;
        text-align:center;
    }
}